.name a{
    text-shadow: 0px 0px 10px rgba(252, 246, 246, 0.8);
}
.name1{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;               
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(10px);
    z-index: 20;
    text-shadow: 0px 0px 10px rgba(252, 246, 246, 0.8);
}
.name3{
     text-shadow: 0px 0px 10px rgba(252, 246, 246, 0.8);

}